body {
	background: #19aa8d;
	font-family: 'Roboto', sans-serif;
}
.form-control, .form-control:focus, .input-group-addon {
	border-color: #e1e1e1;
}
.form-control, .btn {        
	border-radius: 0px;
}
.signup-form {
	width: 390px;
	margin: 0 auto;
	padding: 150px 0;
}

.create {
	width: 900px;
	margin: 0 auto;
	padding: 100px 0;
}

.create form {
	color: #999;
	border-radius: 0px;
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

.create h2 {
	color: #333;
	font-weight: bold;
	margin-top: 0;
}
.create hr {
	margin: 0 -30px 20px;
}
.create .form-group {
	margin-bottom: 20px;
}
.create label {
	font-weight: normal;
	font-size: 13px;
}
.create .form-control {
	min-height: 38px;
	box-shadow: none !important;
}	
.create .input-group-addon {
	max-width: 42px;
	text-align: center;
}
.create input[type="checkbox"] {
	margin-top: 2px;
}   

.create input[type="password"] {
	font:small-caption;
	font-size: 16px;
}   

.create .btn{        
	font-size: 16px;
	font-weight: bold;
	background: #8F125F;
	border: none;
	min-width: 140px;
}
.create .btn:hover, .signup-form .btn:focus {
	background: #179b81;
	outline: none;
}
.create a {
	color: #fff;	
	text-decoration: underline;
}
.create a:hover {
	text-decoration: none;
}
.create form a {
	color: #8F125F;
	text-decoration: none;
}	
.create form a:hover {
	text-decoration: underline;
}
.create .fa {
	font-size: 21px;
}
.create .fa-paper-plane {
	font-size: 18px;
}
.create .fa-check {
	color: #fff;
	left: 17px;
	top: 18px;
	font-size: 7px;
	position: absolute;
}

.signup-form form {
	color: #999;
	border-radius: 0px;
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.signup-form h2 {
	color: #333;
	font-weight: bold;
	margin-top: 0;
}
.signup-form hr {
	margin: 0 -30px 20px;
}
.signup-form .form-group {
	margin-bottom: 20px;
}
.signup-form label {
	font-weight: normal;
	font-size: 13px;
}
.signup-form .form-control {
	min-height: 38px;
	box-shadow: none !important;
}	
.signup-form .input-group-addon {
	max-width: 42px;
	text-align: center;
}
.signup-form input[type="checkbox"] {
	margin-top: 2px;
}   

.signup-form input[type="password"] {
	font:small-caption;
	font-size: 16px;
}   

.signup-form .btn{        
	font-size: 16px;
	font-weight: bold;
	background: #8F125F;
	border: none;
	min-width: 140px;
}
.signup-form .btn:hover, .signup-form .btn:focus {
	background: #8F125F;
	outline: none;
}
.signup-form a {
	color: #000;	
	text-decoration: underline;
}
.signup-form a:hover {
	text-decoration: none;
}
.signup-form form a {
	color: #8F125F;
	text-decoration: none;
}	
.signup-form form a:hover {
	text-decoration: underline;
}
.signup-form .fa {
	font-size: 21px;
}
.signup-form .fa-paper-plane {
	font-size: 18px;
}
.signup-form .fa-check {
	color: #fff;
	left: 17px;
	top: 18px;
	font-size: 7px;
	position: absolute;
}
.alert {
	margin: auto; display: table;
 }

 .comment-form form {
	color: #999;
	border-radius: 0px;
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.comment-form h2 {
	color: #333;
	font-weight: bold;
	margin-top: 0;
}
.comment-form hr {
	margin: 0 -30px 20px;
}
.comment-form .form-group {
	margin-bottom: 20px;
}
.comment-form label {
	font-weight: normal;
	font-size: 13px;
}
.comment-form .form-control {
	min-height: 38px;
	box-shadow: none !important;
}	
.comment-form .input-group-addon {
	max-width: 42px;
	text-align: center;
}
.comment-form input[type="checkbox"] {
	margin-top: 2px;
}   

.comment-form input[type="password"] {
	font:small-caption;
	font-size: 16px;
}   

.comment-form .btn{        
	font-size: 16px;
	font-weight: bold;
	background: #8F125F;
	border: none;
	min-width: 140px;
}
.comment-form .btn:hover, .signup-form .btn:focus {
	background: #8F125F;
	outline: none;
}
.comment-form a {
	color: #000;	
	text-decoration: underline;
}
.comment-form a:hover {
	text-decoration: none;
}
.comment-form form a {
	color: #8F125F;
	text-decoration: none;
}	
.comment-form form a:hover {
	text-decoration: underline;
}
.comment-form .fa {
	font-size: 21px;
}
.comment-form .fa-comment {
	font-size: 18px;
}

.comment-form {
	width: 750px;
	margin: 0 auto;
	padding: 10px 0;
}